In [ ]:
import pandas as pd
import numpy as np

In [ ]:
data = pd.read_csv("pre-processed_with_Nan.csv", encoding_errors='ignore')
# Preview the first 5 lines of the loaded data 
data.head()

,Unnamed: 0,High level category(icd-9),Age Category,gender,discharge_location,insurance,marital_status,ethnicity,High level category(diagnosis),los_category,Mental_status,Intentional
0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,0.0,0.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,1.0,1.0
2,2,0.0,1.0,0.0,0.0,2.0,2.0,0.0,0.0,1.0,0.0,0.0
3,3,0.0,0.0,1.0,0.0,2.0,3.0,0.0,1.0,2.0,1.0,1.0
4,4,1.0,1.0,0.0,2.0,2.0,3.0,0.0,2.0,2.0,0.0,0.0

In [ ]:
from sklearn.impute import KNNImputer

#Imputing each of the missing values with the closest neighbors' values
imputer = KNNImputer(n_neighbors=1)
df = imputer.fit_transform(data)

df

array([[  0.,   0.,   0., ...,   0.,   0.,   0.],
       [  1.,   0.,   0., ...,   0.,   1.,   1.],
       [  2.,   0.,   1., ...,   1.,   0.,   0.],
       ...,
       [452.,   5.,   1., ...,   2.,   1.,   0.],
       [453.,   3.,   1., ...,   0.,   1.,   0.],
       [454.,   7.,   2., ...,   2.,   1.,   0.]])

In [ ]:
np.save("Drug_overdose_data.npy",df)#Storing the processed data