In [ ]:
import pandas as pd
import numpy as np

In [ ]:
data = pd.read_csv("Drug_overdose_data.csv", encoding_errors='ignore')
# Preview the first 5 lines of the loaded data 
data.head()

,Filename,WC,WPS,Qmarks,Unique,Dic,Sixltr,funct,pronoun,ppron,...,work,achieve,leisure,home,money,relig,death,assent,nonfl,filler
0,000.txt,3569,18.88,0.0,24.21,69.07,28.86,43.40,5.77,3.14,...,1.26,0.95,0.36,0.28,0.06,0.00,0.11,0.03,0.14,0.00
1,001.txt,3130,19.56,0.0,36.17,54.63,31.47,29.01,2.04,1.12,...,2.01,1.44,0.61,0.16,0.06,0.06,0.06,0.03,0.06,0.10
2,002.txt,991,19.82,0.0,47.83,57.32,29.06,32.09,4.04,2.62,...,1.51,1.11,0.91,0.30,0.00,0.30,0.71,0.00,0.00,0.00
3,003.txt,732,15.91,0.0,37.30,66.80,27.60,43.44,5.60,4.64,...,0.96,1.91,0.41,0.55,0.14,0.00,0.00,0.00,0.27,0.00
4,004.txt,1174,36.69,0.0,35.09,46.93,18.65,21.64,2.30,1.53,...,3.24,0.77,0.51,0.17,0.09,0.00,0.43,0.00,0.17,0.09

In [ ]:
npy = data.to_numpy()

In [ ]:
data = data[['High level category(icd-9)','Age Category','gender','discharge_location','insurance','marital_status','ethnicity','High level category(diagnosis)','los_category','Mental_status','Intentional']]

# Label encoding (Replacing strings with numeric values)

In [ ]:
ordinal_label = {k: i for i, k in enumerate(data['High level category(icd-9)'].unique(), 0)}
ordinal_label

{0.0: 0, 1.0: 1, 2.0: 2, 3.0: 3, 4.0: 4, 5.0: 5, 6.0: 6, 7.0: 7, nan: 8}

In [ ]:
ordinal_label = {'Diseases of blood and circulatory system': 7,
 'Diseases of digestive system': 4,
 'Diseases of genitourinary system': 1,
 'Diseases of nervous system and Mental Disorder': 3,
 'Diseases of respiratory system': 5,
 'Endocrine, Metabolic, Immunity Disorder and Sepsis': 6,
 'Poisoning and Injury': 0,
 'Skin, Subcutaneous tissue and Musculoskeletal diseases ': 2}

data['High level category(icd-9)'] = data['High level category(icd-9)'].map(ordinal_label)

In [ ]:
ordinal_label = {k: i for i, k in enumerate(data['Age Category'].unique(), 0)}
ordinal_label

{0.0: 0, 1.0: 1, 2.0: 2, nan: 3}

In [ ]:
ordinal_label = {'Middle': 0, 'Senior': 2, 'Young': 1}

data['Age Category'] = data['Age Category'].map(ordinal_label)

In [ ]:
ordinal_label = {k: i for i, k in enumerate(data['gender'].unique(), 0)}
ordinal_label

{nan: 0}

In [ ]:
ordinal_label = {'F': 0, 'M': 1}

data['gender'] = data['gender'].map(ordinal_label)

In [ ]:
ordinal_label = {k: i for i, k in enumerate(data['discharge_location'].unique(), 0)}
ordinal_label

{'DEAD/EXPIRED': 7,
 'DISC-TRAN CANCER/CHLDRN H': 1,
 'DISC-TRAN TO FEDERAL HC': 10,
 'DISCH-TRAN TO PSYCH HOSP': 0,
 'HOME': 2,
 'HOME HEALTH CARE': 3,
 'HOSPICE-HOME': 8,
 'HOSPICE-MEDICAL FACILITY': 14,
 'LEFT AGAINST MEDICAL ADVI': 11,
 'LONG TERM CARE HOSPITAL': 9,
 'OTHER FACILITY': 12,
 'REHAB/DISTINCT PART HOSP': 5,
 'SHORT TERM HOSPITAL': 4,
 'SNF': 6,
 nan: 13}

In [ ]:
ordinal_label = {'DEAD/EXPIRED': 7,
 'DISC-TRAN CANCER/CHLDRN H': 1,
 'DISC-TRAN TO FEDERAL HC': 10,
 'DISCH-TRAN TO PSYCH HOSP': 0,
 'HOME': 2,
 'HOME HEALTH CARE': 3,
 'HOSPICE-HOME': 8,
 'HOSPICE-MEDICAL FACILITY': 14,
 'LEFT AGAINST MEDICAL ADVI': 11,
 'LONG TERM CARE HOSPITAL': 9,
 'OTHER FACILITY': 12,
 'REHAB/DISTINCT PART HOSP': 5,
 'SHORT TERM HOSPITAL': 4,
 'SNF': 6}

data['discharge_location'] = data['discharge_location'].map(ordinal_label)

In [ ]:
ordinal_label = {k: i for i, k in enumerate(data['insurance'].unique(), 0)}
ordinal_label

{'Government': 3,
 'Medicaid': 0,
 'Medicare': 1,
 'Private': 2,
 'Self Pay': 4,
 nan: 5}

In [ ]:
ordinal_label = {'Government': 3,
 'Medicaid': 0,
 'Medicare': 1,
 'Private': 2,
 'Self Pay': 4}

data['insurance'] = data['insurance'].map(ordinal_label)

In [ ]:
ordinal_label = {k: i for i, k in enumerate(data['marital_status'].unique(), 0)}
ordinal_label

{'DIVORCED': 4,
 'MARRIED': 3,
 'SEPARATED': 1,
 'SINGLE': 2,
 'UNKNOWN (DEFAULT)': 6,
 'WIDOWED': 0,
 nan: 5}

In [ ]:
ordinal_label = {'DIVORCED': 4,
 'MARRIED': 3,
 'SEPARATED': 1,
 'SINGLE': 2,
 'UNKNOWN (DEFAULT)': 6,
 'WIDOWED': 0}

data['marital_status'] = data['marital_status'].map(ordinal_label)

In [ ]:
ordinal_label = {k: i for i, k in enumerate(data['ethnicity'].unique(), 0)}
ordinal_label

{'ASIAN': 6,
 'BLACK/AFRICAN AMERICAN': 1,
 'BLACK/CAPE VERDEAN': 11,
 'HISPANIC OR LATINO': 5,
 'HISPANIC/LATINO - DOMINICAN': 12,
 'HISPANIC/LATINO - PUERTO RICAN': 7,
 'MULTI RACE ETHNICITY': 15,
 'NATIVE HAWAIIAN OR OTHER PACIFIC ISLANDER': 9,
 'OTHER': 4,
 'PATIENT DECLINED TO ANSWER': 2,
 'PORTUGUESE': 16,
 'UNABLE TO OBTAIN': 10,
 'UNKNOWN/NOT SPECIFIED': 3,
 'WHITE': 0,
 'WHITE - BRAZILIAN': 14,
 'WHITE - RUSSIAN': 8,
 nan: 13}

In [ ]:
ordinal_label = {'ASIAN': 6,
 'BLACK/AFRICAN AMERICAN': 1,
 'BLACK/CAPE VERDEAN': 11,
 'HISPANIC OR LATINO': 5,
 'HISPANIC/LATINO - DOMINICAN': 12,
 'HISPANIC/LATINO - PUERTO RICAN': 7,
 'MULTI RACE ETHNICITY': 15,
 'NATIVE HAWAIIAN OR OTHER PACIFIC ISLANDER': 9,
 'OTHER': 4,
 'PATIENT DECLINED TO ANSWER': 2,
 'PORTUGUESE': 16,
 'UNABLE TO OBTAIN': 10,
 'UNKNOWN/NOT SPECIFIED': 3,
 'WHITE': 0,
 'WHITE - BRAZILIAN': 14,
 'WHITE - RUSSIAN': 8}

data['ethnicity'] = data['ethnicity'].map(ordinal_label)

In [ ]:
ordinal_label = {k: i for i, k in enumerate(data['High level category(diagnosis)'].unique(), 0)}
ordinal_label

{'Diseases of blood and circulatory system': 2,
 'Diseases of digestive system': 4,
 'Diseases of genitourinary system': 6,
 'Diseases of nervous system and Mental Disorder': 1,
 'Diseases of respiratory system': 5,
 'Endocrine, Metabolic, Immunity Disorder and Sepsis': 3,
 'Poisoning and Injury': 0,
 'Skin, Subcutaneous tissue and Musculoskeletal diseases ': 8,
 nan: 7}

In [ ]:
ordinal_label = {'Diseases of blood and circulatory system': 2,
 'Diseases of digestive system': 4,
 'Diseases of genitourinary system': 6,
 'Diseases of nervous system and Mental Disorder': 1,
 'Diseases of respiratory system': 5,
 'Endocrine, Metabolic, Immunity Disorder and Sepsis': 3,
 'Poisoning and Injury': 0,
 'Skin, Subcutaneous tissue and Musculoskeletal diseases ': 8}

data['High level category(diagnosis)'] = data['High level category(diagnosis)'].map(ordinal_label)

In [ ]:
ordinal_label = {k: i for i, k in enumerate(data['los_category'].unique(), 0)}
ordinal_label

{'Large': 2, 'Midium': 1, 'Short': 0, nan: 3}

In [ ]:
ordinal_label = {'Large': 2, 'Midium': 1, 'Short': 0}

data['los_category'] = data['los_category'].map(ordinal_label)

In [ ]:
ordinal_label = {k: i for i, k in enumerate(data['Mental_status'].unique(), 0)}
ordinal_label

{'No': 0, 'Yes': 1, nan: 2}

In [ ]:
ordinal_label = {'No': 0, 'Yes': 1}

data['Mental_status'] = data['Mental_status'].map(ordinal_label)

In [ ]:
ordinal_label = {k: i for i, k in enumerate(data['Intentional'].unique(), 0)}
ordinal_label

{'No': 0, 'Yes': 1, nan: 2}

In [ ]:
ordinal_label = {'No': 0, 'Yes': 1}

data['Intentional'] = data['Intentional'].map(ordinal_label)

In [ ]:
data.to_csv('pre-processed_with_Nan.csv')